# Compiled class files
*.class

# Log files
*.log

# Build directories
target/
out/

# Temporary files
*~
*.bak
*.swp
*.swo

# IDE-specific files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Config file
config.properties

# Maven
target/
*.war
*.ear
*.rar
*.jar